<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produits</title>
    <script  src="static/js/app.js"  defer></script>  <!-- Lien vers app.js -->
</head>
<body>
    <h1>Liste des produits</h1>
    <ul id="product-list"></ul>

    <h2>Ajouter un produit</h2>
    <form id="add-product-form">
        <input type="text" id="product-name" placeholder="Nom du produit" required>
        <input type="number" id="product-price" placeholder="Prix du produit" required>
        <input type="number" id="product-stock" placeholder="Stock du produit" required>
        <button type="submit">Ajouter le produit</button>
    </form>
</body>
</html>
 